{% extends "layout.html" %}

{% block pageTitle %}
Question page
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href='javascript:history.back()'>Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Your recommendations</h1>

    <p>Based on the scores you have given so far, here are some recommendations for you to consider.</p>



    <!-- <h2 class="govuk-heading-l">Leadership</h2>


    <dl class="govuk-summary-list govuk-!-margin-bottom-9 rubric-answers">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Remote education plan
        </dt>
        <dd class="govuk-summary-list__value">
          4
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> Remote education plan</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Communication
        </dt>
        <dd class="govuk-summary-list__value">
          4
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> Communication</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Monitoring and evaluating
        </dt>
        <dd class="govuk-summary-list__value">
          3
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> Monitoring and evaluating</span>
          </a>
        </dd>
      </div>
    </dl>


    <form action="/confirmation" method="post" novalidate>

      <input type="hidden" name="answers-checked" value="true">

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Get recommendations
      </button>

    </form> -->



  </div>


  <!-- <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        About the framework
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="using-the-framework">
              Using the framework
            </a>
          </li>
          <li>
            <a href="scoring">
              Scoring
            </a>
          </li>
        </ul>
      </nav>
    </aside>
    <aside class="app-related-items" role="complementary">
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="#">
              View your task list
            </a>
          </li>
          <li>
            <a href="#">
              View your results
            </a>
            <span>[would only be shown once at least one section has been completed]</span>
          </li>
        </ul>
      </nav>
    </aside>
  </div> -->




</div>

{% endblock %}
