{% extends "layout.html" %}

{% block pageTitle %}
Question page
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href='javascript:history.back()'>Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Remote education context and pupil engagement</h1>


    <form class="form" action="recpe-2" method="post">

      <span class="govuk-caption-l">1 of 5</span>
      <h2 class="govuk-heading-l">Home environment</h2>

      <p>The school is aware of the learning environment in the home and works with parents and families to understand and ensure that pupils will be able to access education at home.</p>
      <p>The school supports pupils on how to self-regulate during remote education, including:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>understanding their strengths and weaknesses to improve their learning</li>
        <li>how to learn from home</li>
        <li>how to manage their time during periods of isolation</li>
      </ul>




      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios govuk-radios--small govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="recpe_home-environment" name="recpe_home-environment" type="radio" value="1">
              <label class="govuk-label govuk-radios__label" for="recpe_home-environment">
                1
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="recpe_home-environment-2" name="recpe_home-environment" type="radio" value="2">
              <label class="govuk-label govuk-radios__label" for="recpe_home-environment-2">
                2
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="recpe_home-environment-3" name="recpe_home-environment" type="radio" value="3">
              <label class="govuk-label govuk-radios__label" for="recpe_home-environment-3">
                3
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="recpe_home-environment-4" name="recpe_home-environment" type="radio" value="4">
              <label class="govuk-label govuk-radios__label" for="recpe_home-environment-4">
                4
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="recpe_home-environment-5" name="recpe_home-environment" type="radio" value="5">
              <label class="govuk-label govuk-radios__label" for="recpe_home-environment-5">
                5
              </label>
            </div>
          </div>

        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">Save and continue</button>

    </form>

  </div>


  <div class="govuk-grid-column-one-third">
    {% include "v1/schools/scoring_aside.html" %}
  </div>




</div>

{% endblock %}
