{% extends "layout.html" %}

{% block pageTitle %}
Task list
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href='javascript:history.back()'>Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Remote education review framework
    </h1>


    <ul class="app-task-list__items rerf">
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <a href="leadership-1" aria-describedby="leadership-status">
            Leadership
          </a>
        </span>
        <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="leadership-status">Not started</strong>
        <!-- <strong class="govuk-tag app-task-list__tag" id="leadership-status">Completed</strong> -->
        <br>
        <p>School leaders have a clear vision and approach for remote education, and maintain awareness of any issues or barriers related to effective delivery.</p>
      </li>
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <a href="recpe-1" aria-describedby="recpe-status">
            Remote education context and pupil engagement
          </a>
        </span>
        <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="recpe-status">In progress</strong>
        <br>
        <p>The school understands the remote education context of pupils, and plans its provision to ensure pupils can remain engaged in education.</p>
      </li>
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <a href="curriculum-1" aria-describedby="curriculum-status">
            Curriculum planning and delivery
          </a>
        </span>
        <!-- <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="curriculum-status">Not started</strong> -->
        <strong class="govuk-tag app-task-list__tag" id="Curriculum-status">Completed</strong>
        <br>
        <p>The school has well-sequenced curricula that support ‘hybrid’ teaching, and has the relevant resources in place to deliver the curriculum remotely.</p>
      </li>
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <a href="capacity-1" aria-describedby="capacity-status">
            Capacity and capability
          </a>
        </span>
        <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="capacity-status">Not started</strong>
        <br>
        <p>Schools support staff to deliver high-quality remote education.</p>
      </li>
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <a href="communication-1" aria-describedby="communication-status">
            Communication
          </a>
        </span>
        <!-- <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="communication-status">Not started</strong> -->
        <strong class="govuk-tag app-task-list__tag" id="communication-status">Completed</strong>
        <br>
        <p>The school maintains strong communication with pupils, parents and carers, and continues to work effectively with other third parties.</p>
      </li>
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <a href="safeguarding-1" aria-describedby="safeguarding-status">
            Safeguarding and wellbeing
          </a>
        </span>
        <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="safeguarding-status">Not started</strong>
        <br>
        <p>Teachers and leaders understand how to maintain effective safeguarding arrangements whilst also providing high-quality remote education and supporting pupil wellbeing.</p>
      </li>
    </ul>

  </div>


  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        About the framework
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <!-- <li>
            <a href="#">
              Aims of the framework
            </a>
          </li>
          <li>
            <a href="#">
              Why schools need the framework
            </a>
          </li> -->
          <li>
            <a href="using-the-framework">
              Using the framework
            </a>
          </li>
          <li>
            <a href="scoring">
              Scoring
            </a>
          </li>
        </ul>
      </nav>
    </aside>
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Your framework
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="task-list">
              View your task list
            </a>
          </li>
          <li>
            <a href="recommendations">
              View your recommendations
            </a>
            <span>[would only be shown once at least one section has been completed]</span>
          </li>
        </ul>
      </nav>
    </aside>
  </div>



</div>

{% endblock %}
