{% extends "layout.html" %}

{% block pageTitle %}
Task list
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href='javascript:history.back()'>Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Remote education review framework
    </h1>

    <p>This framework has been produced to support schools in England to identify the strengths and areas for improvement in their remote education offer, and to signpost them to resources that can help them improve their practice.</p>

    <br><br>

    <ul class="app-task-list__items no-headings">
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <a href="leadership-1" aria-describedby="leadership-status">
            Leadership
          </a>
        </span>
        <strong class="govuk-tag app-task-list__tag" id="leadership-status">Completed</strong>
      </li>
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <a href="#" aria-describedby="recpe-status">
            Remote education context and pupil engagement
          </a>
        </span>
        <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="recpe-status">In progress</strong>
      </li>
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <a href="#" aria-describedby="curriculum-status">
            Curriculum planning and delivery
          </a>
        </span>
        <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="curriculum-status">Not started</strong>
      </li>
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <a href="#" aria-describedby="capacity-status">
            Capacity and capability
          </a>
        </span>
        <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="capacity-status">Not started</strong>
      </li>
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <a href="#" aria-describedby="communication-status">
            Communication
          </a>
        </span>
        <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="communication-status">Not started</strong>
      </li>
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <a href="#" aria-describedby="safeguarding-status">
            Safeguarding and wellbeing
          </a>
        </span>
        <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="safeguarding-status">Not started</strong>
      </li>
    </ul>

  </div>


  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        About the framework
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="#">
              Aims of the framework
            </a>
          </li>
          <li>
            <a href="#">
              Why schools need the framework
            </a>
          </li>
          <li>
            <a href="#">
              Using the framework
            </a>
          </li>
          <li>
            <a href="#">
              Scoring
            </a>
          </li>
        </ul>
      </nav>
    </aside>
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Return to this later
      </h2>
      <p><a href="#">
          Save my progress
        </a></p>
      <p>To make sure your review and results will not be lost at any time, get a reference code.</p>
    </aside>
  </div>



</div>

{% endblock %}
