{% extends "layout.html" %}

{% block pageTitle %}
Question page
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href='javascript:history.back()'>Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Safeguarding and wellbeing</h1>


    <form class="form" action="safeguarding-answers" method="post">

      <span class="govuk-caption-l">5 of 5</span>
      <h2 class="govuk-heading-l">Behaviour and attitude</h2>

      <p>There are clear rules for behaviour during remote lessons and activities. Students know them and tutors monitor and enforce them.</p>


      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios govuk-radios--small govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="safeguarding_behaviour" name="safeguarding_behaviour" type="radio" value="1">
              <label class="govuk-label govuk-radios__label" for="safeguarding_behaviour">
                1
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="safeguarding_behaviour-2" name="safeguarding_behaviour" type="radio" value="2">
              <label class="govuk-label govuk-radios__label" for="safeguarding_behaviour-2">
                2
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="safeguarding_behaviour-3" name="safeguarding_behaviour" type="radio" value="3">
              <label class="govuk-label govuk-radios__label" for="safeguarding_behaviour-3">
                3
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="safeguarding_behaviour-4" name="safeguarding_behaviour" type="radio" value="4">
              <label class="govuk-label govuk-radios__label" for="safeguarding_behaviour-4">
                4
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="safeguarding_behaviour-5" name="safeguarding_behaviour" type="radio" value="5">
              <label class="govuk-label govuk-radios__label" for="safeguarding_behaviour-5">
                5
              </label>
            </div>
          </div>

        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">Save and continue</button>

    </form>

  </div>

  <div class="govuk-grid-column-one-third">
    {% include "v2/fe/scoring_aside.html" %}
  </div>

</div>

{% endblock %}
