{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href='javascript:history.back()'>Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="sector-answer" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                At which educational stage do you work?
              </h1>
            </legend
            <br><br>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="which-sector" name="which-sector" type="radio" value="schools">
                <label class="govuk-label govuk-radios__label" for="which-sector">
                  primary education
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="which-sector-2" name="which-sector" type="radio" value="schools">
                <label class="govuk-label govuk-radios__label" for="which-sector-2">
                  secondary education
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="which-sector-3" name="which-sector" type="radio" value="fe">
                <label class="govuk-label govuk-radios__label" for="which-sector-3">
                  further education
                </label>
              </div>
            </div>
            <br><br>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
  </div>

{% endblock %}
