{% extends "layout.html" %}

{% block pageTitle %}
Question page
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href='javascript:history.back()'>Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Curriculum planning and delivery</h1>


    <form class="form" action="curriculum-2" method="post">

      <span class="govuk-caption-l">1 of 4</span>
      <h2 class="govuk-heading-l">Minimum provision</h2>

      <p>School sets work that is of equivalent length to the core teaching pupils would receive in school, and as a minimum:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>primary: 3 hours a day, on average, across the school cohort</li>
        <li>secondary: 4 hours a day, with more for pupils working towards formal qualifications this year</li>
      </ul>



      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios govuk-radios--small govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="curriculum_minimum-provision" name="curriculum_minimum-provision" type="radio" value="1">
              <label class="govuk-label govuk-radios__label" for="curriculum_minimum-provision">
                1
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="curriculum_minimum-provision-2" name="curriculum_minimum-provision" type="radio" value="2">
              <label class="govuk-label govuk-radios__label" for="curriculum_minimum-provision-2">
                2
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="curriculum_minimum-provision-3" name="curriculum_minimum-provision" type="radio" value="3">
              <label class="govuk-label govuk-radios__label" for="curriculum_minimum-provision-3">
                3
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="curriculum_minimum-provision-4" name="curriculum_minimum-provision" type="radio" value="4">
              <label class="govuk-label govuk-radios__label" for="curriculum_minimum-provision-4">
                4
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="curriculum_minimum-provision-5" name="curriculum_minimum-provision" type="radio" value="5">
              <label class="govuk-label govuk-radios__label" for="curriculum_minimum-provision-5">
                5
              </label>
            </div>
          </div>

        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">Save and continue</button>

    </form>

  </div>


  <div class="govuk-grid-column-one-third">
    {% include "v2/schools/scoring_aside.html" %}
  </div>




</div>

{% endblock %}
