{% extends "layout.html" %}

{% block pageTitle %}
Question page
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href='javascript:history.back()'>Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Curriculum planning and delivery</h1>


    <form class="form" action="curriculum-answers" method="post">

      <span class="govuk-caption-l">4 of 4</span>
      <h2 class="govuk-heading-l">Assessment and feedback</h2>

      <p>The school has a plan in place to gauge how well all pupils are progressing through the curriculum using questions and other suitable tasks.</p>
      <p>The school provides feedback, at least weekly, using digitally-facilitated or whole-class feedback where appropriate.</p>


      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios govuk-radios--small govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="curriculum_assessment" name="curriculum_assessment" type="radio" value="1">
              <label class="govuk-label govuk-radios__label" for="curriculum_assessment">
                1
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="curriculum_assessment-2" name="curriculum_assessment" type="radio" value="2">
              <label class="govuk-label govuk-radios__label" for="curriculum_assessment-2">
                2
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="curriculum_assessment-3" name="curriculum_assessment" type="radio" value="3">
              <label class="govuk-label govuk-radios__label" for="curriculum_assessment-3">
                3
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="curriculum_assessment-4" name="curriculum_assessment" type="radio" value="4">
              <label class="govuk-label govuk-radios__label" for="curriculum_assessment-4">
                4
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="curriculum_assessment-5" name="curriculum_assessment" type="radio" value="5">
              <label class="govuk-label govuk-radios__label" for="curriculum_assessment-5">
                5
              </label>
            </div>
          </div>

        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">Save and continue</button>

    </form>

  </div>


  <div class="govuk-grid-column-one-third">
    {% include "v2/schools/scoring_aside.html" %}
  </div>




</div>

{% endblock %}
