
{% extends "layout.html" %}

{% block pageTitle %}
  Remote education review framework
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Remote education review framework
      </h1>
      <p>This prototype is a way of exploring ideas and is subject to change.</p>

      <br><br>
      <h2 class="govuk-heading-m">
        11/12/20
      </h2>
      <p><a href="v1">version 1</a></p>
      <br><br>



    </div>
  </div>

{% endblock %}
