{% extends "layout.html" %}

{% block pageTitle %}
Question page
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href='javascript:history.back()'>Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Communication</h1>


    <form class="form" action="communication-answers" method="post">

      <span class="govuk-caption-l">2 of 2</span>
      <h2 class="govuk-heading-l">School community events</h2>

      <p>Pupils are given regular opportunities to attend and participate in shared, interactive lessons and activities to maintain a sense of community and belonging, especially disadvantaged and SEND pupils.</p>


      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios govuk-radios--small govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="communication_community-events" name="communication_community-events" type="radio" value="1">
              <label class="govuk-label govuk-radios__label" for="communication_community-events">
                1
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="communication_community-events-2" name="communication_community-events" type="radio" value="2">
              <label class="govuk-label govuk-radios__label" for="communication_community-events-2">
                2
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="communication_community-events-3" name="communication_community-events" type="radio" value="3">
              <label class="govuk-label govuk-radios__label" for="communication_community-events-3">
                3
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="communication_community-events-4" name="communication_community-events" type="radio" value="4">
              <label class="govuk-label govuk-radios__label" for="communication_community-events-4">
                4
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="communication_community-events-5" name="communication_community-events" type="radio" value="5">
              <label class="govuk-label govuk-radios__label" for="communication_community-events-5">
                5
              </label>
            </div>
          </div>

        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">Save and continue</button>

    </form>

  </div>


  <div class="govuk-grid-column-one-third">
    {% include "v3/schools/scoring_aside.html" %}
  </div>


</div>

{% endblock %}
