{% extends "layout.html" %}

{% block pageTitle %}
Save progress
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href='javascript:history.back()'>Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Your progress has been saved
      </h1>
    </div>
    <br>

    <p>Once you receive your email you can access your recommendations page by using the unique link.</p>

    <p>If you have finished your current session, please close this window.</p>


    <p><a href="task-list">Go back to your task list</a></p>



  </div>

</div>

{% endblock %}
