{% extends "layout.html" %}

{% block pageTitle %}
Scores and recommendations
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href='javascript:history.back()'>Back</a>
{% endblock %}

{% block content %}
<script type="text/javascript">
  var theCurrentPage = 'recommendations';
</script>

</script>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Your recommendations</h1>

    <p>Based on the scores you have given so far, you could consider the following recommendations to improve your remote education provision.</p>

    <!-- <p>
      <a href="task-list">
        Return to category overview</a></p> -->

        <p>
          <a class="govuk-button govuk-button--secondary" href="save-progress">
            Download your recommendations
          </a>
        </p>

  </div>



  <div class="govuk-grid-column-full">


    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Leadership
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

          <h3 class="govuk-heading-m">Recommended guidance based on your scores</h3>

          <div class="statement-block attention">
            <h3 class="govuk-heading-s">You scored 2 for remote education plan:</h3>
            <p>The EdTech Demonstrator Programme provides resources to support schools and colleges. This includes <a href="#">short videos</a> developed by schools and colleges on developing remote education plans, and <a href-="#">guidance</a> on
              how
              to embed digital technology.</p>
            <p>GOV.UK has brought together <a href="#">school-led webinars</a> to share best practice in setting up remote education.</p>
            <p>For guidance on how to remain cyber-secure, please refer to <a href="#">Cyber security in schools: questions for governors and trustees</a></p>
            <p>Read the <a href="#">guidance for full opening and refer to Oak National Academy for help to deliver a planned curriculum for all</a>.</p>
          </div>

          <div class="statement-block attention">
            <h3 class="govuk-heading-s">You scored 3 for communication:</h3>
            <p>Ensure governors, staff, parents and carers are aware of the school’s remote education provision by maintaining regular communication and providing updates on any changes to the provision.</p>
            <p>The Education Endowment Foundation has provided a <a href="#">guide for schools</a> on how to communicate with parents during COVID-19.</p>
          </div>


          <h3 class="govuk-heading-m">Additional guidance</h3>


          <div class="statement-block">
            <h3 class="govuk-heading-s">You scored 4 for monitoring and evaluation:</h3>
            <p>GOV.UK provides the following guidance:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="#">recording attendance in relation to coronavirus (COVID-19) during the 2020 to 2021 academic year</a></li>
              <li><a href="#">full opening for schools: school workforce</a></li>
              <li><a href="#">remote education good practice</a></li>
            </ul>
          </div>

        </div>
      </div>







      <div class="govuk-accordion__section {{'js-expanded' if data['referrer'] == 'recpe'}}">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
              Remote education context and pupil engagement
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
          <p class='govuk-body'>You haven't yet given any scores for this section.</p>
        </div>
      </div>







      <div class="govuk-accordion__section {{'js-expanded' if data['referrer'] == 'curriculum'}}">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
              Curriculum planning and delivery
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
          {% if data['curriculum_minimum-provision'] == null %}
          <p class='govuk-body'>You haven't yet given any scores for this section.</p>
          {% else %}


          <div class="statement-block">
            <h3 class="govuk-heading-m">You scored {{ data['curriculum_minimum-provision'] }} for minimum provision:</h3>
            {% if data['curriculum_minimum-provision'] < 3 %}
            <p>Remote education expectations are highlighted in <a href="https://www.gov.uk/government/publications/actions-for-schools-during-the-coronavirus-outbreak/guidance-for-full-opening-schools#res">the guidance for full opening</a>.</p>
            <p>GOV.UK has brought together <a href="https://www.gov.uk/guidance/remote-education-webinars">school-led webinars</a> to share best practice in setting up remote education.</p>
            {% else %}
            <p>You have no recommendations in this category as you scored 3 or above</p>
            {% endif %}
          </div>

          <div class="statement-block">
            <h3 class="govuk-heading-m">You scored {{ data['curriculum_planning'] }} for curriculum planning:</h3>
            {% if data['curriculum_planning'] < 3 %}
            <p>GOV.UK provides resources on <a href="https://www.gov.uk/government/publications/remote-education-good-practice">remote education good practice</a> and <a
                href="https://www.gov.uk/guidance/adapting-teaching-practice-for-remote-education">how to adapt teaching practice</a> for remote education.</p>
            <p>The Education Endowment Foundation provides <a href="https://educationendowmentfoundation.org.uk/covid-19-resources/national-tutoring-programme/covid-19-support-guide-for-schools/#closeSignup">a support guide for schools</a> designed
              to help teachers and school leaders support their pupils during remote education.</p>
            {% else %}
            <p>You have no recommendations in this category as you scored 3 or above</p>
            {% endif %}
          </div>

          <div class="statement-block">
            <h3 class="govuk-heading-m">You scored {{ data['curriculum_delivery'] }} for curriculum delivery:</h3>
            {% if data['curriculum_delivery'] < 3 %}
            <p>GOV.UK provides:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>guidance on <a href="https://www.gov.uk/guidance/help-with-accessing-and-buying-resources-for-remote-education">accessing and buying resources for remote education</a></li>
              <li>resources on <a href="https://www.gov.uk/government/publications/remote-education-good-practice">remote education good practice</a></li>
              <li>guidance on <a href="https://get-help-with-tech.education.gov.uk/digital-platforms">how to access and set up online digital platforms</a> to support delivery</li>
            </ul>
            <p><a href="https://www.thenational.academy/2020-21-oak-curriculum">Oak National Academy</a> provides resources and guidance on how to map resources to a school's existing curriculum.</p>
            <p><a href="https://www.rnibbookshare.org/cms/">RNIB Bookshare</a>, which was established through DfE's pilot load2learn, is providing on-demand access to over 350,000 accessible digital books for schools - free for any learner with a <a
                href="https://www.rnibbookshare.org/cms/bookshare-me/who-qualifies">print disability</a>.</p>
            {% else %}
            <p>You have no recommendations in this category as you scored 3 or above</p>
            {% endif %}
          </div>

          <div class="statement-block">
            <h3 class="govuk-heading-m">You scored {{ data['curriculum_assessment'] }} for assessment and feedback:</h3>
            {% if data['curriculum_assessment'] < 3 %}
            <p>GOV.UK provides guidance on:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>assessing pupil progress and providing feedback in the <a href="https://www.gov.uk/government/publications/remote-education-good-practice/remote-education-good-practice#finding-solutions-in-remote-provision">Remote education good
                  practice guidance</a></li>
              <li><a href="https://www.gov.uk/government/publications/actions-for-schools-during-the-coronavirus-outbreak/guidance-for-full-opening-schools#section-4-assessment-and-accountability">assessments and exams</a></li>
            </ul>
            <p>The EdTech Demonstrator Programme provides <a href="https://edtech-demonstrator.lgfl.net/guidance/assessment">online training videos</a> for schools on effective assessment and feedback.</p>
            {% else %}
            <p>You have no recommendations in this category as you scored 3 or above</p>
            {% endif %}
          </div>


          {% endif %}
        </div>
      </div>







      <div class="govuk-accordion__section {{'js-expanded' if data['referrer'] == 'capacity'}}">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
              Capacity and capability
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
          {% if data['capacity-capability_effective-practice'] == null %}
          <p class='govuk-body'>You haven't yet given any scores for this section.</p>
          {% else %}

          <div class="statement-block">
            <h3 class="govuk-heading-m">You scored {{ data['capacity-capability_effective-practice'] }} for effective practice:</h3>
            {% if data['capacity-capability_effective-practice'] < 3 %}
            <p>The Education Endowment Foundation provides <a href="https://educationendowmentfoundation.org.uk/covid-19-resources/national-tutoring-programme/covid-19-support-guide-for-schools/#closeSignup">a support guide for schools</a> designed
              to help teachers and school leaders support their pupils during remote education.</p>
            <p>GOV.UK provides a <a href="https://www.gov.uk/government/publications/remote-education-good-practice/remote-education-good-practice#finding-solutions-in-remote-provision">good practice guide</a> to support schools in their delivery of
              remote education.</p>
            <p>The EdTech Demonstrator Programme provides guidance on <a href="">how to use online platforms and resources</a>, including for children with SEND.</p>
            {% else %}
            <p>You have no recommendations in this category as you scored 3 or above</p>
            {% endif %}
          </div>

          <div class="statement-block">
            <h3 class="govuk-heading-m">You scored {{ data['capacity-capability_staff-capability'] }} for staff capability:</h3>
            {% if data['capacity-capability_staff-capability'] < 3 %}
            <p>The <a href="https://edtech-demonstrator.lgfl.net/">EdTech Demonstrator Programme</a> provides advice, guidance and practical support for teachers on how to deliver good remote education. This includes guidance on <a
                href="https://edtech-demonstrator.lgfl.net/guidance">how to use online platforms and resources</a>, including for children with SEND.</p>
            <p><a href="https://www.rnibbookshare.org/cms/">RNIB Bookshare</a>, which was established through DfE's pilot load2learn, is providing on-demand access to over 350,000 accessible digital books for schools - free for any learner with a <a
                href="https://www.rnibbookshare.org/cms/bookshare-me/who-qualifies">print disability</a>.</p>
            <p><a href="https://pdnet.org.uk/">pdnet</a> provides free <a href="https://pdnet.org.uk/meetings-and-conferences/">training events</a> for teachers and professionals on augmentative and alternative communication technology to support
              pupils with SEND.</p>
            {% else %}
            <p>You have no recommendations in this category as you scored 3 or above</p>
            {% endif %}
          </div>

          <div class="statement-block">
            <h3 class="govuk-heading-m">You scored {{ data['capacity-capability_strategic-partnerships'] }} for strategic partnerships:</h3>
            {% if data['capacity-capability_strategic-partnerships'] < 3 %}
            <p>There are several school-to-school support networks which you can make use of, including:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>The <a href="https://edtech-demonstrator.lgfl.net/">EdTech Demonstrator Programme</a> for advice and guidance on remote education, including how to embed technology into teaching practice, and how to embed practice across MATs</li>
              <li><a href="https://www.gov.uk/guidance/get-support-from-your-local-maths-hub">Maths hubs</a> to improve maths education</li>
              <li><a href="https://www.gov.uk/guidance/get-support-from-your-local-english-education-hub">English hubs</a> to improve teaching of phonics, early language and reading in reception and year 1</li>
              <li><a href="https://www.gov.uk/guidance/get-support-from-your-local-computing-hub">Computing hubs</a> to improve the teaching of computing and increase participation in computer science</li>
            </ul>
            {% else %}
            <p>You have no recommendations in this category as you scored 3 or above</p>
            {% endif %}
          </div>


          {% endif %}
        </div>
      </div>







      <div class="govuk-accordion__section {{'js-expanded' if data['referrer'] == 'communication'}}">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-5">
              Communication
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-5" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-5">
          {% if data['communication_realistic-expectations'] == null %}
          <p class='govuk-body'>You haven't yet given any scores for this section.</p>
          {% else %}


          <div class="statement-block">
            <h3 class="govuk-heading-m">You scored {{ data['communication_realistic-expectations'] }} for realistic expectations of pupils, parents and carers:</h3>
            {% if data['communication_realistic-expectations'] < 3 %}
            <p>Remote education expectations are highlighted in the <a href="https://www.gov.uk/government/publications/actions-for-schools-during-the-coronavirus-outbreak/guidance-for-full-opening-schools#res">guidance for full opening</a>.</p>
            <p>GOV.UK has brought together <a href="">school-led webinars</a> to share best practice in setting up remote education.</p>
            <p>The <a href="https://www.gov.uk/guidance/school-workload-reduction-toolkit#communications">school workload reduction toolkit</a> provides example communication policies and email protocols.</p>
            <p>The Education Endowment Foundation has provided a <a
                href="https://educationendowmentfoundation.org.uk/public/files/Publications/Covid-19_Resources/Resources_for_schools/Communicating_Effectively_with_Families_-_Guide_for_Schools.pdf">guide for schools</a> on how to communicate with
              parents during COVID-19.</p>
            {% else %}
            <p>You have no recommendations in this category as you scored 3 or above</p>
            {% endif %}
          </div>

          <div class="statement-block">
            <h3 class="govuk-heading-m">You scored {{ data['communication_community-events'] }} for school community events:</h3>
            {% if data['communication_community-events'] < 3 %}
            <p>recommendations</p>
            {% else %}
            <p>You have no recommendations in this category as you scored 3 or above</p>
            {% endif %}
          </div>

          {% endif %}
        </div>
      </div>







      <div class="govuk-accordion__section {{'js-expanded' if data['referrer'] == 'safeguarding'}}">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-6">
              Safeguarding and wellbeing
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-6" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-6">
          {% if data['safeguarding_ensuring-safety'] == null %}
          <p class='govuk-body'>You haven't yet given any scores for this section.</p>
          {% else %}

          <div class="statement-block">
            <h3 class="govuk-heading-m">You scored {{ data['safeguarding_ensuring-safety'] }} for ensuring safety:</h3>
            {% if data['safeguarding_ensuring-safety'] < 3 %}
            <p>GOV.UK provides guidance on <a href="https://www.gov.uk/guidance/safeguarding-and-remote-education-during-coronavirus-covid-19">Safeguarding and remote education during coronavirus (COVID-19)</a></p>
            <p>Schools should also refer to <a href="https://www.gov.uk/government/publications/keeping-children-safe-in-education--2">statutory guidance for schools and colleges on safeguarding children</a>.</p>
            {% else %}
            <p>You have no recommendations in this category as you scored 3 or above</p>
            {% endif %}
          </div>

          <div class="statement-block">
            <h3 class="govuk-heading-m">You scored {{ data['safeguarding_online-safety'] }} for online safety:</h3>
            {% if data['safeguarding_online-safety'] < 3 %}
            <p>GOV.UK provides guidance on:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="https://www.gov.uk/guidance/safeguarding-and-remote-education-during-coronavirus-covid-19">Safeguarding and remote education during coronavirus (COVID-19)</a></li>
              <li><a href="https://www.gov.uk/government/publications/teaching-online-safety-in-schools">Teaching online safety in schools</a></li>
            </ul>
            {% else %}
            <p>You have no recommendations in this category as you scored 3 or above</p>
            {% endif %}
          </div>

          <div class="statement-block">
            <h3 class="govuk-heading-m">You scored {{ data['safeguarding_wellbeing'] }} for wellbeing:</h3>
            {% if data['safeguarding_wellbeing'] < 3 %}
            <p>GOV.UK provides advice on supporting pupil <a href="https://www.gov.uk/government/publications/actions-for-schools-during-the-coronavirus-outbreak/guidance-for-full-opening-schools#pupil-wellbeing-and-support">wellbeing during remote
                education</a>.</p>
            {% else %}
            <p>You have no recommendations in this category as you scored 3 or above</p>
            {% endif %}
          </div>

          <div class="statement-block">
            <h3 class="govuk-heading-m">You scored {{ data['safeguarding_data-management'] }} for data management:</h3>
            {% if data['safeguarding_data-management'] < 3 %}
            <p>GOV.UK provides guidance to support schools:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>with <a href="https://www.gov.uk/government/publications/data-protection-toolkit-for-schools">data protection activity</a>, including compliance with GDPR</li>
              <li>to be <a href="https://www.ncsc.gov.uk/information/school-governor-questions">cyber secure</a></li>
            </ul>
            {% else %}
            <p>You have no recommendations in this category as you scored 3 or above</p>
            {% endif %}
          </div>

          <div class="statement-block">
            <h3 class="govuk-heading-m">You scored {{ data['safeguarding_behaviour'] }} for behaviour and attitude:</h3>
            {% if data['safeguarding_behaviour'] < 3 %}
            <p>GOV.UK provides guidance on <a href="https://www.gov.uk/government/publications/actions-for-schools-during-the-coronavirus-outbreak/guidance-for-full-opening-schools#behaviour-expectations">behaviour expectations</a> in schools.</p>
            {% else %}
            <p>You have no recommendations in this category as you scored 3 or above</p>
            {% endif %}
          </div>

          {% endif %}
        </div>
      </div>


    </div>

    <a class="govuk-button push-right" href="task-list">
      Continue
    </a>


  </div>


</div>



{% endblock %}
