{% extends "layout.html" %}

{% block pageTitle %}
Save progress
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href='javascript:history.back()'>Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Save progress</h1>



    <div class="govuk-inset-text">
      HXRY-1234
    </div>

    <p>Here's the reference code for your review. You can make a note of this and use it to resume your progress at a later date.</p>
    <p>Alternatively you can bookmark or copy <a href="#">this link</a>.</p>
    <p><a href="task-list">Go back to task list</a></p>



  </div>

  <div class="govuk-grid-column-one-third">

  </div>

</div>

{% endblock %}
