

<aside class="app-related-items" role="complementary">

  {% from "govuk/components/details/macro.njk" import govukDetails %}

  {{ govukDetails({
    summaryText: "Help with scoring",
    html: "<p class='govuk-body-s'>The scoring below provides a structure to identify the school\'s current position in relation to its remote education practice across the 6 categories within the framework. Assessing each category in this way will help school leaders identify areas of strength and those needing further work.</p>
          <p class='govuk-body-s'><strong>1. Identify</strong><br>
            Not yet in place or there are major gaps.
          </p>
          <p class='govuk-body-s'><strong>2. Develop and plan</strong><br>
            Identified gaps but a plan is being developed to address them.
          </p>
          <p class='govuk-body-s'><strong>3. Implement</strong><br>
            In the process of implementing systems and practices to address this.
          </p>
          <p class='govuk-body-s'><strong>4. Embed</strong><br>
            Practices and systems are in place with minor gaps.
          </p>
          <p class='govuk-body-s'><strong>5. Sustain</strong><br>
            Practices and systems are fully embedded, and there are examples of best practice.
          </p>",
    open: true
  }) }}

</aside>
