{% extends "layout.html" %}

{% block pageTitle %}
Task list
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href='javascript:history.back()'>Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Why schools need the framework
    </h1>

    <p>Where a pupil, class, group or small number of pupils need to self-isolate, or there are local restrictions in place requiring pupils to remain at home, DfE expects schools to be able to immediately offer them access to remote education. Full expectations for remote education provision, including on delivering remote education safely, are set out in the schools’ <a href="https://www.gov.uk/government/publications/actions-for-schools-during-the-coronavirus-outbreak/guidance-for-full-opening-schools">guidance for full opening</a> and the <a href="https://www.gov.uk/government/publications/coronavirus-covid-19-maintaining-further-education-provision">autumn term guidance for FE providers</a>.</p>

    <p>Whilst the context and challenges will differ for each school, many of the elements which support effective, safe practice in remote education will be relevant to all schools. This framework is not is not statutory, and you can adapt it to fit your school context.</p>

    <p>The framework differs from the 'remote education offer form', which is a high-level summary of remote education provision for parents, carers and pupils. The review framework is for internal school/trust use and to support detailed discussions with staff and governors in schools on appropriate next steps.</p>

    <br>
    <a href="task-list" class="govuk-button" data-module="govuk-button">
      Continue</a>

  </div>
</div>

{% endblock %}
